# Data Science Tools and Ecosystem

In this notebook, we will have a summerized view on Data Science Tools and Ecosystem.

**Objectives:**
+ Popular languages for Data science.
+ Popular libraries for Data science.
+ Example of manipulations in Jupyter

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

An example of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn

|Data Science Tools|
|-|
|Jupyter Notebook|
|RStudio|
|Visual Studio Code|

### Some of examples about evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author
BAQILI Mohamed